
.currentPositionBtn {
    display: block;
    position: relative;
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
    background: white;
    border: 0.2em solid lightskyblue;
    border-radius: 0.7em;
}
.currentPositionBtn:hover {
    background: navy;
}

.currentPositionBtn > div {
    position: absolute;
    background: lightskyblue;
}
.currentPositionBtn .north {
    top: 0;
    left: 0.45em;
    width: 0.1em;
    height: 0.3em;
}
.currentPositionBtn .east {
    top: 0.45em;
    right: 0;
    width: 0.3em;
    height: 0.1em;
}
.currentPositionBtn .south {
    bottom: 0;
    left: 0.45em;
    width: 0.1em;
    height: 0.3em;
}
.currentPositionBtn .west {
    top: 0.45em;
    left: 0;
    width: 0.3em;
    height: 0.1em;
}

